<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljm.studentspringboot.mapper.StudentMapper">

    <select id="findAll" resultType="Student">
        select id, name, age, score,
               create_user_id as createUserId,
               create_username as createUsername
        from student
        order by cast(id as unsigned)
    </select>

    <select id="findById" resultType="Student">
        select id, name, age, score,
               create_user_id as createUserId,
               create_username as createUsername
        from student
        where id = #{id}
    </select>

    <select id="findByCreateUserId" resultType="Student">
        select id, name, age, score,
               create_user_id as createUserId,
               create_username as createUsername
        from student
        where create_user_id = #{createUserId}
        order by cast(id as unsigned)
    </select>

    <select id="countByCondition" resultType="long">
        select count(*)
        from student
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>

            <if test="minScore != null">
                and score &gt;= #{minScore}
            </if>

            <if test="maxScore != null">
                and score &lt;= #{maxScore}
            </if>
        </where>
    </select>

    <select id="findByConditionPage" resultType="Student">
        select id, name, age, score,
               create_user_id as createUserId,
               create_username as createUsername
        from student
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>

            <if test="minScore != null">
                and score &gt;= #{minScore}
            </if>

            <if test="maxScore != null">
                and score &lt;= #{maxScore}
            </if>
        </where>
        order by score desc
        limit #{offset}, #{pageSize}
    </select>

    <insert id="addStudent">
        insert into student (id, name, age, score, create_user_id, create_username)
        values (#{id}, #{name}, #{age}, #{score}, #{createUserId}, #{createUsername})
    </insert>

    <update id="updateStudent">
        update student
        set name = #{name},
        age = #{age},
        score = #{score}
        where id = #{id}
    </update>

    <delete id="deleteStudent">
        delete from student
        where id = #{id}
    </delete>

    <delete id="deleteBatch">
        delete from student
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
